body{
    background-color: #ebecf1;
}

.bg-white{
    background-color: #ffffff;
}

.btn-create{
    color: #479BDA;
}

.btn-notification{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.text-black {
    color: #000000;
}

.view-button > a {
    color: lightgray;
}

.view-button > a:hover {
    color: black;
}

.view-active > a {
    color: gray;
}

.brand-icon > a {
    font-family: 'Major Mono Display', monospace;
    color: gray;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.4rem;
}

.brand-icon > a:hover {
    font-family: 'Major Mono Display', monospace;
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.4rem;
}

.view-type > span {
    margin-left: 5px;
    margin-right: 5px;
}

.story-body > img {
    max-width: 100%;
    height: auto;
    border-radius: .25rem!important;
}

.story-detail-title {
    color: black;
    font-family: 'Roboto Slab', serif;
}

#title-link {
    color: black;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

#title-link:hover {
    color: gray;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

#date-posted {
    color: gray !important;
    font-family: 'Raleway', sans-serif;
}

#username-link {
    color: gray;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

#username-link > a {
    color: gray !important;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

#username-link > a:hover {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.share-link > span > a {
    color: gray !important;
}

.share-link > span > a:hover {
    color: black !important;
}
