{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

  <link rel="shortcut icon" type="image/png" href="{% static 'questions/img/favicon.ico' %}" />

  <link rel="stylesheet" href="{% static 'questions/css/style.css' %}">

  {% if title %}
  <title>Askdev - {{ title }}</title>
  {% else %}
  <title>Askdev</title>
  {% endif %}
</head>

<body>

  <div class="container-fluid border bg-white py-2">
    <div class="row">
      <div class="col-lg-1 col-xl-1 d-none d-lg-block">
      </div>
      <div class="col-3 col-sm-2 col-md-2 px-0 d-block d-lg-none d-xl-none">
        <button class="btn"><i class="fas fa-bars"></i></button>
        <img class="img-fluid" src="{% static 'questions/img/favicon.ico' %}" style="width: 32px;">
      </div>
      <div class="col-lg-2 col-xl-2 d-none d-lg-block d-xl-block">
        <a href="{% url 'questions-home' %}"><img class="img-fluid" src="{% static 'questions/img/favicon.ico' %}"
            style="width: 32px;"> AskDev</a>
      </div>
      <div class="col-5 col-sm-7 col-md-7 col-lg-6 col-xl-6">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white border-right-0"><i class="fas fa-search"></i></div>
          </div>
          <input type="text" class="form-control" id="search" placeholder="Search Askdev">
        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-md-right px-md-2 px-0">
        <div class="btn-group">
          <button class="btn btn-create" type="button" id="dropdownCreate" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="d-block d-lg-none d-xl-none"><i class="fas fa-plus-circle"></i></span>
            <span class="d-none d-lg-block d-xl-block"><i class="fas fa-plus-circle"></i> Create</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownCreate">
            <a class="dropdown-item" href="{% url 'questions-add' %}">Question</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'stories-add' %}">Story</a>
          </div>
        </div>
        <a class="btn-notification" href="#"><i class="far fa-bell"></i></a>
        {% if user.is_authenticated %}
        <div class="btn-group">
          <button class="btn p-0 mr-1" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle border img-fluid" style="width: 40px;" src="{{ user.profile.profile_image.url }}">
          </button>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}"><button class="btn border">
            <span class="d-block d-lg-none d-xl-none"><i class="far fa-user-circle"></i></span>
            <span class="d-none d-lg-block d-xl-block"><i class="far fa-user-circle"></i> Sign in</span>
          </button></a>
        {% endif %}

      </div>
    </div>
  </div>
  <!-- \ Navigation -->

  {% block views %}{% endblock views %}

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-1 col-xl-1 d-none d-lg-block">
      </div>
      <div class="col-lg-2 col-xl-2 d-none d-lg-block d-xl-block">
        <div class="card bg-white">
          <div class="card-body px-1 py-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link text-black p-1 p-xl-2" href="{% url 'questions-home' %}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black p-1 p-xl-2" href="{% url 'stories-home' %}">STORIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black p-1 p-xl-2" href="{% url 'tags-home' %}">TAGS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black p-1 p-xl-2" href="#">COMMUNITIES</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-8" id="main-body">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} my-2">
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}

      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  {% block scripts %}{% endblock scripts %}
  
<!-- ========================================= -->
<!-- Added for scroll bar -->
<style>
    #back-to-top {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 9999;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 30px;
        background: #f5f5f5;
        color: #444;
        cursor: pointer;
        border: 0;
        border-radius: 2px;
        text-decoration: none;
        /* transition: opacity 0.2s ease-out;
        opacity: 0; */
    }
    #back-to-top:hover {
        background: #e9ebec;
    }
    #back-to-top.show {
        opacity: 1;
    }
    /* #content {
        height: 2000px;
    } */
    </style>
    <!-- <div id="content">Scroll &darr;</div> -->
        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
    <script>
    if ($('#back-to-top').length) {
    var scrollTrigger = 150, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
    backToTop();
    $(window).on('scroll', function () {
        backToTop();
    });
    $('#back-to-top').on('click', function (e) {
        e.preventDefault();
        $('html,body').animate({
            scrollTop: 0
        }, 700);
    });
    }
    </script>
    <!-- ============================== -->
</body>

</html>