{% extends "questions/base.html" %}
{% load static %}
{% block views %}
<div class="container-fluid bg-white py-2">
  <div class="row">
    <div class="col-lg-1 col-xl-1 d-none d-lg-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 view-type">
      <span>VIEW</span>
      <span><a href="{% url 'questions-home' %}?view=card"><i class="fas fa-th-large"></i></a></span>
      <span><a href="{% url 'questions-home' %}?view=detail"><i class="fas fa-bars"></i></a></span>
      <span><a href="{% url 'questions-home' %}?view=list"><i class="fas fa-align-justify"></i></a></span>
      <span class="border h-100"></span>
      <span>SORT</span>
      <span>
        <div class="btn-group">
          <button type="button" class="btn">&#x1F525 Hot</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#x1F525 Hot</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New</a>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
<!-- \ View -->
{% endblock views %}
{% block content %}
<div class="card bg-white mb-4">
  <div class="card-body">
    <h2>Join the discussion</h2>
    <h4>Comment and be a part of what the internet is talking about!</h4>
    <button class="btn btn-primary">Join Now!</button>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<script>
  let questions_url = '{{ questions_url }}';
  console.log("url", questions_url)
  $.ajax({
    url: questions_url,
    success: display_questions
  });

  function display_questions(questions_data) {
    console.log("Showing questions_data");
    console.log(questions_data);
    questions_data.forEach(question => {
      let username = '';
      let profile_pic_url = '';
      console.log(question);
      $.ajax({
        url: question.author,
        success: function (result) {
          username = result.username;
          profile_pic_url = result.profile_image;
        },
        async: false
      });
      let d = Date.parse(question.modified_at);
      console.log("paresed=", d);
      question_url = "{% url 'questions-home'  %}" + question.id + "/";
      console.log("question_url   ", question_url);
      image_url = "{% static 'questions/img/community-back.png' %}";
      tags = question.tags.map(x => '<a href="/tags/' + x.tag_name + '/">#' + x.tag_name + '</a>').join(" ");
      let question_html =
        '<div class="card bg-white mb-4 p-4"><div class="row"><div class="col-2 col-md-1 p-0"><img src="' +
        profile_pic_url +
        '" class="img-fluid rounded-circle"></div><div class="col-6 col-md-8"><h2><a style="text-decoration:none"href="' +
        question_url + '">' + question.question + '</a></h2><h4><a href="#">' + username + '</a> - ' + question.modified_at +
        '</h4><h6>' + tags + '</h6></div><div class="col-4 col-md-3"><img class="img-fluid rounded" src="' +
        image_url +
        '"></div></div><div class="row mt-4"><div class="col-8"><button class="btn rounded border">&#x1F44D &#x1F44E &#x1F44F 3</button><button class="btn rounded">&#x1F4AC 3</button></div><div class="col-4 text-right"><span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span><span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>'
      $("#main-body").html($("#main-body").html() + question_html);

    });
  }
</script>


{% endblock scripts %}