{% extends "questions/base.html" %}
{% load static %}

{% block views %}
<div class="container-fluid bg-white py-2">
  <div class="row">
    <div class="col-lg-1 col-xl-1 d-none d-lg-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 view-type">
      <span>VIEW</span>
      {% if view_type == 'list' %}
      <span class="view-button"><a href="{% url 'questions-home' %}?view=card"><i class="fas fa-th-large"></i></a></span>
      <span class="view-button"><a href="{% url 'questions-home' %}?view=detail"><i class="fas fa-bars"></i></a></span>
      <span class="view-active"><a href="{% url 'questions-home' %}?view=list"><i class="fas fa-align-justify"></i></a></span>
      {% elif view_type == 'detail' %}
      <span class="view-button"><a href="{% url 'questions-home' %}?view=card"><i class="fas fa-th-large"></i></a></span>
      <span class="view-active"><a href="{% url 'questions-home' %}?view=detail"><i class="fas fa-bars"></i></a></span>
      <span class="view-button"><a href="{% url 'questions-home' %}?view=list"><i class="fas fa-align-justify"></i></a></span>
      {% else %}
      <span class="view-active"><a href="{% url 'questions-home' %}?view=card"><i class="fas fa-th-large"></i></a></span>
      <span class="view-button"><a href="{% url 'questions-home' %}?view=detail"><i class="fas fa-bars"></i></a></span>
      <span class="view-button"><a href="{% url 'questions-home' %}?view=list"><i class="fas fa-align-justify"></i></a></span>
      {% endif %}
      <span class="border h-100"></span>
      <span>SORT</span>
      <span>
        <div class="btn-group">
          <button type="button" class="btn">&#x1F525 Hot</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#x1F525 Hot</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New</a>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
<!-- \ View -->
{% endblock views %}

{% block content %}
<!-- <div class="card bg-white mb-4">
  <div class="card-body">
    <h2>Join the discussion</h2>
    <h4>Comment and be a part of what the internet is talking about!</h4>
    <button class="btn btn-primary">Join Now!</button>
  </div>
</div> -->
{% endblock content %}

{% block scripts %}
<script>
  let questions_url = '{{ questions_url }}';
  let view_type = '{{ view_type }}';
  console.log("url", questions_url)
  console.log("view =", view_type)
  $.ajax({
    url: questions_url,
    success: display_questions
  });

  function display_questions(questions) {
    console.log("Showing questions");
    console.log(questions);
    let questions_html = '';
    questions.forEach(question => {
      let username = '';
      let profile_pic_url = '';
      console.log("each=", question.question, question.author);
      $.ajax({
        url: question.author,
        success: function (result) {
          username = result.username;
          profile_pic_url = result.profile_image;
        },
        async: false
      });
      let modified_at_moment = moment(Date.parse(question.modified_at)).toNow(true) + " ago";
      console.log(modified_at_moment);
      question_url = "{% url 'questions-home' %}" + question.id + "/";
      console.log(question_url);
      image_url = "{% static 'questions/img/community-back.png' %}";
      tags = question.tags.map(x => '<a class="badge badge-pill badge-info" href="/tags/' + x.tag_name +
        '/questions/">' + x.tag_name + '</a>').join(" ");
      let reactions = new Set();
      let reaction_score = 0;
      question.reactions.forEach(element => {
        reactions.add(element.reaction_name);
        reaction_score += element.reaction_score;
      });

      let reaction_set = '';
      for (r of reactions) {
        reaction_set = reaction_set + r + ' ';
      }
      if (reaction_set == '') {
        reaction_set = '&#x1F44D';
      }

      console.log(reactions);
      console.log(reaction_score);
      let question_html = "";

      var div = document.createElement('div');
      div.innerHTML = question.description;
      var allImage = div.getElementsByTagName('img');
      var firstImage = '';
      console.log("all=", allImage);
      for (var i = 0; i < allImage.length; i++) {
        if (allImage[i].src.indexOf("/media/uploads/") >= 0) {
          firstImage = allImage[i].src;
          break;
        }
      }
      console.log("fimage=", firstImage);

      var question_question = div.innerHTML.replace(/<img alt="" src="\/m[^>]*>/g, "");
      if (question_question == 'NULL') {
        question_question = "";
      }
      console.log("image =", question_question)
      console.log("question_url", question_url)
      switch (view_type) {
        case "list":
          question_html = '<div class="card bg-white mb-4 p-4"><div class="row">' +
            '<div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-10 col-md-11 question-body">' +
            '<h2><a id="title-link" href="' + question_url + '">' + question.question + '</a></h2>' +
            '<h4 id="username-link"><a href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6></div></div>' +
            '<div class="row mt-4"><div class="col-8">' +
            '<button class="btn rounded border">' + reaction_set + ' ' + reaction_score + '</button></div>' +
            '<div class="col-4 text-right share-link">' +
            '<span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
          break;
        case "detail":
          question_html = '<div class="card bg-white mb-4 p-4">' +
            '<div class="row"><div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-6 col-md-8 question-body">' +
            '<h2><a id="title-link" href="' + question_url + '">' + question.question + '</a></h2>' +
            '<h4 id="username-link"><a  href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6></div>' +
            '<div class="col-4 col-md-3"><img class="img-fluid rounded" src="' + firstImage + '"></div></div>' +
            '<div class="row mt-4"><div class="col-8"><button class="btn rounded border">' + reaction_set + ' ' +
            reaction_score + '</button></div>' +
            '<div class="col-4 text-right share-link"><span><a  class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
          break;
        default:
          question_html = '<div class="card bg-white mb-4 p-4">' +
            '<div class="row"><div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-10 col-md-11 question-body">' +
            '<h2><a id="title-link" href="' + question_url + '">' + question.question + '</a></h2>' +
            '<h4 id="username-link"><a  href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6>' +
            '' + question_question + '' +
            '<img class="img-fluid rounded" src="' + firstImage + '"></div></div>' +
            '<div class="row mt-4"><div class="col-8">' +
            '<button class="btn rounded border">' + reaction_set + ' ' + reaction_score + '</button></div>' +
            '<div class="col-4 text-right share-link">' +
            '<span><a  class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
      }
      // console.log( $('.question-body img').attr('src') );
      questions_html = questions_html + question_html;
    });
    $("#main-body").html($("#main-body").html() + questions_html);
  }
</script>
{% endblock scripts %}