{% extends "questions/base.html" %}
{% load static %}
{% block content %}
<div class="continer-fluid ">
  <div class="row">
    <div class="container p-3 col-md-8">
      <div class="card  p-3">
        <div class="card-header text-muted" style="display: inline-block">
          <img class='rounded-circle' src="">
          <a class="text-primary disabled" href="#" style="text-decoration:none">
            By {{question_object.author_name}}
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{question_object.modified_at|date:'F d, Y' }}

          {% if question_object.author_id == user.id%}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'question-update' question_object.id%}">Update</a>
          <a class="btn btn-Danger btn-sm mt-1 mb-1" href="{% url 'question-delete' question_object.id%}">Delete</a>

          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{question_object.question}}</h5>

          <!-- <p class="card-text pl-3">{{question_object.content}}.</p> -->
          <!--<a href="#" class="btn btn-primary">Go somewhere</a> -->

        </div>
      </div>
    </div>

  </div>

  {% for answer in answer_object%}
  <div class="row">
    <div class="container p-3 col-md-8">
      <div class="card  p-3">
        <div class="card-header text-muted" style="display: inline-block">
          <img class='rounded-circle' src="">
          Answered By
          <a class="text-primary disabled" href="#" style="text-decoration:none">
            {{answer.author_name}}
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          {% if object.author_id == user.id%}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id%}">Update</a>
          <a class="btn btn-Danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id%}">Delete</a>

          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{answer.answer}}</h5>
          <!-- <p class="card-text pl-3">{{object.content}}.</p> -->
          <!--<a href="#" class="btn btn-primary">Go somewhere</a> -->

        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}