{% extends "questions/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <form class="was-validated" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Post Question</legend>
      {{ form|crispy }}

      <div class="mb-3">
        <label for="validationTextarea">Textarea</label>
        <textarea class="form-control is-invalid" rows="5" name="question" id="validationTextarea" placeholder="Required example textarea"
          required></textarea>
        <div class="invalid-feedback">
          Please enter a Question in the textarea.
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Post</button>
    </div>
  </form>
</div>
{% endblock content %}