{% extends "questions/base.html" %}
{% load static %}
{% block content %}

{% for answer in answers %}
<div class="card bg-white mb-4">
    <div class="card-body">       
        <!-- <h2><a class="article-title"> {{ question.tag }}</a></h2> -->
        <a class="mr-2" href="#">{{ answer.author }}</a>
        <small class="text-muted">{{ answer.modified_at|date:"F d, Y" }}</small>
        <h4><a class="article-title"> {{ answer.answer  }}</a></h4>
    </div>
  </div>

  {% endfor %}
{% endblock content %}

