{% extends "questions/base.html" %}
{% load static %}
{% block views %}
<div class="container-fluid bg-white py-2">
  <div class="row">
    <div class="col-lg-1 col-xl-1 d-none d-lg-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 view-type">
      <span>VIEW</span>
      <span><a href="/tags/{{ title }}/questions/?view=card"><i class="fas fa-th-large"></i></a></span>
      <span><a href="/tags/{{ title }}/questions/?view=detail"><i class="fas fa-bars"></i></a></span>
      <span><a href="/tags/{{ title }}/questions/?view=list"><i class="fas fa-align-justify"></i></a></span>
      <span class="border h-100"></span>
      <!-- <span>SORT</span>
      <span>
        <div class="btn-group">
          <button type="button" class="btn">&#x1F525 Hot</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#x1F525 Hot</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New</a>
          </div>
        </div>
      </span> -->
    </div>
  </div>
</div>
<!-- \ View -->
{% endblock views %}

{% block content %}
<div class="card bg-white text-center mb-4">
  <div class="card-body">
    <h1>{{ title }}</h1>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  let tag_questions_url = '{{ tag_questions_url }}';
  let view_type = '{{ view_type }}';
  $.ajax({
    url: tag_questions_url,
    success: display_questions
  });

  function display_questions(question_urls) {
    console.log("Showing questions");
    console.log(question_urls);
    let questions = [];

    question_urls.forEach(question => {
      $.ajax({
        url: question.question,
        success: function (result) {
          questions.push(result);
        },
        async: false
      });
    });

    console.log(questions);
    let questions_html = '';
    questions.forEach(question => {
      let username = '';
      let profile_pic_url = '';
      console.log(question);
      $.ajax({
        url: question.author,
        success: function (result) {
          username = result.username;
          profile_pic_url = result.profile_image;
        },
        async: false
      });
      let modified_at_moment = moment(Date.parse(question.modified_at)).toNow(true) + " ago";
      console.log(modified_at_moment);
      question_url = "{% url 'stories-home' %}" + question.id + "/";
      console.log(question_url);
      image_url = "{% static 'questions/img/community-back.png' %}";
      tags = question.tags.map(x => '<a class="badge badge-pill badge-info" href="/tags/' + x.tag_name +
        '/questions/">' + x.tag_name + '</a>').join(" ");
      let reactions = new Set();
      let reaction_score = 0;
      question.reactions.forEach(element => {
        reactions.add(element.reaction_name);
        reaction_score += element.reaction_score;
      });
      console.log(reactions);
      console.log(reaction_score);
      let question_html = "";

      var div = document.createElement('div');
      div.innerHTML = question.description;
      var allImage = div.getElementsByTagName('img');
      var firstImage = '';
      console.log(allImage);
      for (var i = 0; i < allImage.length; i++) {
        if (allImage[i].src.indexOf("/media/uploads/") >= 0) {
          firstImage = allImage[i].src;
          break;
        }
      }

      console.log(firstImage);

      var question_description = div.innerHTML.replace(/<img alt="" src="\/m[^>]*>/g, "");
      if (question_description == "NULL") {
        question_description = "";
      }


      switch (view_type) {
        case "list":
          question_html = '<div class="card bg-white mb-4 p-4"><div class="row">' +
            '<div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-10 col-md-11 question-body">' +
            '<h2><a href="' + question_url + '">' + question.question + '</a></h2>' +
            '<h4><a href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6></div></div>' +
            '<div class="row mt-4"><div class="col-8">' +
            '<button class="btn rounded border">&#x1F44D &#x1F44E &#x1F44F ' + reaction_score + '</button></div>' +
            '<div class="col-4 text-right">' +
            '<span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
          break;
        case "detail":
          question_html = '<div class="card bg-white mb-4 p-4">' +
            '<div class="row"><div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-6 col-md-8 question-body">' +
            '<h2><a href="' + question_url + '">' + question.question + '</a></h2>' +
            '<h4><a href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6></div>' +
            '<div class="col-4 col-md-3"><img class="img-fluid rounded" src="' + firstImage + '"></div></div>' +
            '<div class="row mt-4"><div class="col-8"><button class="btn rounded border">&#x1F44D &#x1F44E &#x1F44F ' +
            reaction_score + '</button></div>' +
            '<div class="col-4 text-right"><span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
          break;
        default:
          question_html = '<div class="card bg-white mb-4 p-4">' +
            '<div class="row"><div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-10 col-md-11 question-body">' +
            '<h2><a href="' + question_url + '">' + question.question + '</a></h2>' +
            '<h4><a href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6>' +
            '' + question_description + '' +
            '<img class="img-fluid rounded" src="' + firstImage + '"></div></div>' +
            '<div class="row mt-4"><div class="col-8">' +
            '<button class="btn rounded border">&#x1F44D &#x1F44E &#x1F44F ' + reaction_score + '</button></div>' +
            '<div class="col-4 text-right">' +
            '<span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
      }
      questions_html = questions_html + question_html;
    });
    $("#main-body").html($("#main-body").html() + questions_html);
  }
</script>
{% endblock scripts %}