{% extends "questions/base.html" %}
{% load static %}

{% block views %}
<div class="container-fluid bg-white py-2">
  <div class="row">
    <div class="col-lg-1 col-xl-1 d-none d-lg-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 view-type">
      <span>VIEW</span>
      <span><a href="{% url 'stories-home' %}?view=card"><i class="fas fa-th-large"></i></a></span>
      <span><a href="{% url 'stories-home' %}?view=detail"><i class="fas fa-bars"></i></a></span>
      <span><a href="{% url 'stories-home' %}?view=list"><i class="fas fa-align-justify"></i></a></span>
      <span class="border h-100"></span>
      <span>SORT</span>
      <span>
        <div class="btn-group">
          <button type="button" class="btn">&#x1F525 Hot</button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">&#x1F525 Hot</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New</a>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
<!-- \ View -->
{% endblock views %}

{% block content %}
<div class="card bg-white mb-4">
  <div class="card-body">
    <h2>Join the discussion</h2>
    <h4>Comment and be a part of what the internet is talking about!</h4>
    <button class="btn btn-primary">Join Now!</button>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  let stories_url = '{{ stories_url }}';
  let view_type = '{{ view_type }}';
  $.ajax({
    url: stories_url,
    success: display_stories
  });

  function display_stories(stories) {
    console.log("Showing stories");
    console.log(stories);
    let stories_html = '';
    stories.forEach(story => {
      let username = '';
      let profile_pic_url = '';
      console.log(story);
      $.ajax({
        url: story.author,
        success: function (result) {
          username = result.username;
          profile_pic_url = result.profile_image;
        },
        async: false
      });
      let modified_at_moment = moment(Date.parse(story.modified_at)).toNow(true) + " ago";
      console.log(modified_at_moment);
      story_url = "{% url 'stories-home' %}" + story.id + "/";
      console.log(story_url);
      image_url = "{% static 'questions/img/community-back.png' %}";
      tags = story.tags.map(x => '<a class="badge badge-pill badge-info" href="/tags/' + x.tag_name + '/stories/">' +
        x.tag_name + '</a>').join(" ");
      let reactions = new Set();
      let reaction_score = 0;
      story.reactions.forEach(element => {
        reactions.add(element.reaction_name);
        reaction_score += element.reaction_score;
      });
      console.log(reactions);
      console.log(reaction_score);
      let story_html = "";

      var div = document.createElement('div');
      div.innerHTML = story.story;
      var allImage = div.getElementsByTagName('img');
      var firstImage = '';
      console.log(allImage);
      for (var i = 0; i < allImage.length; i++) {
        if (allImage[i].src.indexOf("/media/uploads/") >= 0) {
          firstImage = allImage[i].src;
          break;
        }
      }
      console.log(firstImage);

      var story_story = div.innerHTML.replace(/<img alt="" src="\/m[^>]*>/g, "");

      switch (view_type) {
        case "list":
          story_html = '<div class="card bg-white mb-4 p-4"><div class="row">' +
            '<div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-10 col-md-11 story-body">' +
            '<h2><a href="' + story_url + '">' + story.title + '</a></h2>' +
            '<h4><a href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6></div></div>' +
            '<div class="row mt-4"><div class="col-8">' +
            '<button class="btn rounded border">&#x1F44D &#x1F44E &#x1F44F ' + reaction_score + '</button></div>' +
            '<div class="col-4 text-right">' +
            '<span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
          break;
        case "detail":
          story_html = '<div class="card bg-white mb-4 p-4">' +
            '<div class="row"><div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-6 col-md-8 story-body">' +
            '<h2><a href="' + story_url + '">' + story.title + '</a></h2>' +
            '<h4><a href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6></div>' +
            '<div class="col-4 col-md-3"><img class="img-fluid rounded" src="' + firstImage + '"></div></div>' +
            '<div class="row mt-4"><div class="col-8"><button class="btn rounded border">&#x1F44D &#x1F44E &#x1F44F ' +
            reaction_score + '</button></div>' +
            '<div class="col-4 text-right"><span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
          break;
        default:
          story_html = '<div class="card bg-white mb-4 p-4">' +
            '<div class="row"><div class="col-2 col-md-1 p-0">' +
            '<img src="' + profile_pic_url + '" class="img-fluid rounded-circle"></div>' +
            '<div class="col-10 col-md-11 story-body">' +
            '<h2><a href="' + story_url + '">' + story.title + '</a></h2>' +
            '<h4><a href="#">' + username + '</a> - ' + modified_at_moment + '</h4>' +
            '<h6>' + tags + '</h6>' +
            '' + story_story + '' +
            '<img class="img-fluid rounded" src="' + firstImage + '"></div></div>' +
            '<div class="row mt-4"><div class="col-8">' +
            '<button class="btn rounded border">&#x1F44D &#x1F44E &#x1F44F ' + reaction_score + '</button></div>' +
            '<div class="col-4 text-right">' +
            '<span><a class="pr-3" href="#"><i class="far fa-bookmark"></i></a></span>' +
            '<span><a href="#"><i class="fas fa-share-alt"></i></a></span></div></div></div>';
      }
      stories_html = stories_html + story_html;
    });
    $("#main-body").html($("#main-body").html() + stories_html);
  }
</script>

{% endblock scripts %}